*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(207, 199, 199);
}

.make-post-div{
    width: 25em;
    border: 0.1px solid rgb(224, 220, 220);
    border-radius: 5px;
    padding: 1rem;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    background-color: #d4f2fa;
}

#make-post{
    font-size: 1.2em;
}
.gif-div img{
    height: 3em;
    width: 3em;
    border-radius: 5px;
}

.post-container{
    padding: 4% 10%;
}

.post{
    margin: auto;
    margin-bottom: 2rem;
}

.pic-name-div{
    display: flex;
    justify-content: center;
    align-content: center;
}

.img-flex{
    width: 30%;
}

.post-img-div{
    text-align: center;
    padding: 3px;
    margin-right: 2rem;
}

.post-img-div img{
    width: 5em;
    height: 5em;
    object-fit: fill;
    border-radius: 50%;
}

.name-article-div{
    width: 70%;
}

.name-div{
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 1rem;
}

.name-div span{
    margin-left: 1rem;
    font-size: 0.7em;
    font-weight: 100;
}

.del-comm-div{
    display: flex;
    margin-top: 1em;
}

.del-comm-div p{
    cursor: pointer;
    margin-right: 3em;
}
