.comment-container{
    padding:  5% 15%;
}

.show-comment-div{
    padding: 0 20%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
}

.comm-img-div img{
    width: 3em;
    border-radius: 50%;
    margin-right: 1em;
}

.comm-div p:first-child{
    font-size: 0.8em;
    font-weight: 800;
    margin-bottom: 0.9em;
    margin-right: 0.5em;
}

.comm-div p{
    font-size: 0.6em;
}

.comm-div span{
    font-weight: 100;
    font-size: 0.6em;
}

.post-comment-div{
    margin-top: 2em;
}

.post-comment-div form input, label{
    width: 100%;
}

.post-comment-div input{
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-top: 2em;
}