body {
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
  }
  
  .one, .two, .three, .four {
    background: red;
    border-bottom: 10px solid blue;
    height: 10px;
    width: 10px;
    border-radius: 50% 0 50% 0;
    display: flex;
    margin: 10px;
  }
  
  .two {
    border-radius: 0% 50% 0% 50%;
  }
  
  h1 {
    margin: auto;
    color: red;
    font-family: 'Helvetica';
    font-size: 10px;
  }
  
  .keyLine {
    height: 10px;
    background: blue;
    width: 20px;
    margin: auto;
  }
  
  .shape-container {
    display: flex;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }