.header-container{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 2rem;
}

.nav-container ul{
  display: flex;
  justify-content: space-around;
}

.nav-container ul li{
  list-style: none;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 1.1em;
}

.nav-container img{
  width: 2rem;
}

.logo-container{
  display: flex;
  color: red;
  margin-top: -5px;
}

.logo-container p{
  padding-top: 0;
  font-size: 1.5em;
  background: -webkit-linear-gradient(rgb(253, 253, 253), rgb(240, 240, 84), rgb(211, 43, 43));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-container svg>path{
  fill:rgb(211, 236, 142);
}