.header-container{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 2rem;
}

.nav-container ul{
  display: flex;
  justify-content: space-around;
}

.nav-container ul li{
  list-style: none;
  text-decoration: none;
  margin-right: 1rem;
}

.logo-container{
  display: flex;
}