body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2144C4;
  font: 100%;
}

/* .App {
  text-align: center;
} */

.form-control{
  margin-bottom: 2rem;
}

.error{
  font-size: 13px;
  color: red;
  font-style: italic;
}

.btn{
  background-color: #2144C4;
  margin-top: 2rem;
  padding: 13px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn-div{
  text-align: center;
}

.nav ul{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.nav ul li{
  list-style: none;
  margin-right: 1rem;

}