body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 100%;
  background-color:  rgba(34, 34, 34, 0.7);

}

/* .App {
  text-align: center;
} */

.form-control{
  margin-bottom: 2rem;
}

.required-star{
  color: red;
}

.radio-input{
  color: red;
  width: 100%;
}

.btn{
  cursor: pointer;
  background-color: #2144C4;
  margin-top: 1.5rem;
  padding: 13px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn-div{
  text-align: center;
}
