body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  background-color: #ffffff;
}

div, h1, h2, h3, h4, h5, h6, p, li, span, Link, label{
  color: rgb(112, 79, 79);
}

/* .App {
  text-align: center;
  #CFC7CB
} */

.form-control{
  margin-bottom: 2rem;
}

.required-star{
  color: red;
}

.radio-input{
  color: red;
  width: 100%;
}

.btn{
  cursor: pointer;
  background-color: #D3EC8E;
  margin-top: 1.5rem;
  padding: 13px;
  border-radius: 5px;
  color: white;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn-div{
  text-align: center;
}

.title-div{
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  font-style: italic;
}

.loader {
  margin: auto;
  margin-top: 5em;
  border: 1em solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 7em;
  height: 7em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media only screen and (max-width: 600px){
  body{
    font-size: 75%;
  }
}